<%= render 'layouts/form' %>

<h1><span class="heading">Register A Client</h1></span>
<%=form_for @client do |c| %>
<p>
    <span class = "heading"><%=c.label :name %></span><br/>
    <%=c.text_field :name %>
</p>
<p>
    <span class = "heading"><%=c.label :address %></span><br/>
    <%=c.text_field :address %>
</p>
<p>
    <span class = "heading"><%=c.label :phone_number %></span><br/>
    <%=c.text_field :phone_number %>
</p>
<p>
    <span class = "heading"><%=c.label :appointed_retained %></span><br/>
    <%=c.text_field :appointed_retained %>
</p>
<p>
    <span class = "heading"><%=c.label :alleged_offenses %></span><br/>
    <%=c.text_area :alleged_offenses %>
</p>
<p>
   <%= c.submit %>
</p>

<% end %>

<%=link_to 'Back to clients list', clients_path%>
